<table>
    <tr>
        <td><a href="/Stonkers-Frontend">Home</a></td>
        <td><a href="/Stonkers-Frontend/housing">Housing</a></td>
        <td><a href="/Stonkers-Frontend/food">Graphs</a></td>
        <td><a href="/Stonkers-Frontend/activities">Jeffrey's Stock Picks</a></td>
        <td><a href="/Stonkers-Frontend/family-night">Family-Night</a></td>
        <td><a href="/Stonkers-Frontend/gallery">Gallery</a></td>
        <td><a href="/Stonkers-Frontend/stockprice">Stock-Price</a></td>
        <td><a href="/Stonkers-Frontend/S&P500">S&P500</a></td>
    </tr>
</table>
