<table>
    <tr>
        <td><a href="/Stonkers-Frontend">Home</a></td>
        <td><a href="/Stonkers-Frontend/Quiz">Quiz</a></td>
        <td><a href="/Stonkers-Frontend/Graphs">Graphs</a></td>
        <td><a href="/Stonkers-Frontend/JeffList">Jeffrey's Stock Picks</a></td>
        <td><a href="/Stonkers-Frontend/Watchlist">Watchlist</a></td>
        <td><a href="/Stonkers-Frontend/stockinfo">Stock Info</a></td>
        <td><a href="/Stonkers-Frontend/stockprice">Derek's Stock Picks</a></td>
        <td><a href="/Stonkers-Frontend/S&P500">S&P500</a></td>
        <td><a href="/Stonkers-Frontend/favorites">Favorited Stocks</a></td>
    </tr>
</table>
